# Equivalent to Win8.1+
os: Windows Server 2012

environment:
  matrix:
    - PYTHON: "C:\\Python27"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

build_script:
  - ps: python make_release.py $(git describe);

artifacts:
  - path: \**\*.zip
